html {
	font-size: 10px;
}
::selection {
	background: #fcda23;
}
body{
	width: 100%;
	margin: auto;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	background: #f0f0f0;
}
.header {
	background: #151515;
}
.header .logo {
	float: left;
}
a {
	text-decoration: none;
	color: white;
}
.menu {
	list-style: none;
	display: flex;
	justify-content: space-between;	
	align-items: center;
}
.menu a {
	text-transform: uppercase;	
	font-size: 1.4rem;	
	padding: 1rem;		
}
.menu a:hover {
	color: #ffec8b;
}
.container{
	max-width: 115rem;
	margin: 0 auto;
	padding: 0 0.1rem;
}
.top_menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.pagefon {
	background-position: 50% 50%;
	background-size: 100%;
	background-image: url(img/bmfit.jpg);
	background-repeat: no-repeat;
	position: static;
	top: 0rem;
	left: 0rem;
	width: 100%;
	height: 43rem;
	overflow: hidden;
	pointer-events: none;
	margin-left: 0rem;
	margin-top: 0;
	margin-bottom: -4rem;
	visibility: visible;
	transform: translate3d(0px, -13.0922px, 0px);
}
.blacksq {
	background: #000;
	width: 50rem;
	height: 17rem;
	position: relative;
	margin: auto;
	top: 25%;
	box-shadow: 0 0 5px 0.1px white;
	opacity: 0.7;
	filter: alpha(Opacity=70);
}
.blacksq h1 {
	text-align: center;
	color: #fff;
	font-weight: 300;
	font-size: 2.7rem;
	line-height: 1.3;
	letter-spacing: 0.3rem;
	padding-left: 0.3rem;
	box-sizing: inherit;
	text-transform: uppercase;
	padding-top: 6rem;
}
.sectio {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 0 53rem 0 0;
}
.bod{
	background-image: url(img/gladiator.jpg);
	width: 61rem;
	height: 61rem;
	position: static;
}
.bod h3{
	padding-left: 60rem;
	font-size: 3rem;
}
.bod img{
	max-height: 2rem;
	max-width: 2rem;
	padding-left: 60rem;
	display: flex;
	justify-content: space-between;	
	align-items: center;
}
.rating {
	display: inline-block;
	justify-content: space-between;
}
.rating p{
	font-size: 2rem;
	padding-top: 4rem;
}
.star img{
	max-width: 2rem;
	max-height: 2rem;
	display: inline-block;
	justify-content: space-between;
	padding-top: 0.1rem;
}
.wrapper {
	background: #151515;
	height: 7rem;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 0.1rem;
}
.wrapper p {
	text-align: center;
	color: #fff;
	font-weight: 300;
	font-size: 2.7rem;
	line-height: 1.3;
	letter-spacing: 0.3rem;
	padding-left: 0.3rem;
	box-sizing: inherit;
	text-transform: uppercase;
	padding-top: 2.15rem;
}
.logo_fitness {
	margin-top: 4rem;
	display: flex;
	justify-content: space-between;
}
.logo_fitness1 {
	margin-top: 4rem;
	display: flex;
}
article img{
	margin: 4rem 15rem;
	width: 15rem;
	height: 13rem;
}
article p {
	margin: 0 auto 2rem;
	text-align: center;
	text-transform: uppercase;
	font-size: 2rem;
	max-width: 20rem;
}
section p {
	text-align: center;
	font-size: 1.4rem;
	font-style: italic;
	padding-top: 2rem;
	color: #151515;
}
form {
	margin-left: 30rem;
}
form h2 {
	text-align: left;
}
form input {
	width: 76rem;
	height: 3rem;
	float: left;
}
form textarea {
	width: 76rem;
	float: left;
}
form #button-field {
	width: 12rem;
	height: 4rem;
	border-radius: 0.8rem;
	margin-left: 32rem;
	margin-top: 4rem;
	margin-bottom: 6rem;
	background-color: grey;
}
form #button-field:hover {
	background-color: #fcda23;
}





footer {
	background: #000;
	position: relative;
	width: 100%;
	height: 28rem;
	overflow: hidden;
}
.logo1 {
	padding-top: 2rem;
	display: flex;
	justify-content: center;
}
.logo1 img {
	align-self: center;
}
.site p{
	display: flex;
	justify-content: center;
	padding-top: 0.5rem;
	font-size: 1.7rem;
	letter-spacing: 0.3rem;
	text-transform: uppercase;
}
.site a {
	color: grey;
	margin: 0 1rem;

}
.site a:hover {
	 color: #ffec8b;
}
footer h4{
	text-align: center;
	padding-top: 4rem;
	font-size: 1.4rem;
	color: grey;
}
.fitphoto {
	display: flex;
	justify-content: space-between;
	margin: 4rem 5rem 0 5rem;
}
.fitphoto1 {
	display: flex;
	justify-content: space-between;
	margin: 4rem 5rem 0 5rem;
}
.fitphoto2 {
	display: flex;
	justify-content: space-between;
	margin: 4rem 5rem 0 5rem;
}
.fitphoto3 {
	display: flex;
	justify-content: space-between;
	margin: 4rem 5rem 0 5rem;
}
.advantage {
	display: flex;
	justify-content: center;
}






#back-top {
    position: fixed;
    bottom: 0rem;
    padding: 0rem;
    left: 50%;  
    margin-left: 60rem;
    z-index:99991;
}
#back-top a{
    display:block;
    text-decoration:none;
    -webkit-transition: all linear 0.2s; 
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
    text-align: center;
}
 
#back-top a:hover{
    height: 5rem;
    -webkit-transition: all linear 0.2s; 
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
}




#user {
	width: 47rem;
	height: 2.3rem;
	margin-bottom: 1rem;
}
#check {
	width: 2.5rem;
	height: 2.5rem;
	margin-right: 1rem;
}
#log {
	width: 15rem;
	margin-left: 17rem;
}

div.login-center form, ul#list-login{
	width: 27rem;
	margin: 0 0;
}
div.login-center form{
	margin-bottom: 2rem;
}
div.login-center form p{
	margin-bottom: 2rem;
	font-family: Tahoma;
	font-size: 1.6rem;
	color: #F8F8FF;
}
.user-name, .user-password, .user-firstname, .user-lastname,
.user-gmail, .user-date{
	border: 0.1rem solid;
}
.user-button{
	border: 0.1rem solid #b8b8b8;
}
ul#list-login{
	list-style-type: none;
}
ul#list-login li{
	height: 1rem;
	margin-bottom: 0.5rem;
	padding-top: 1rem;
	margin-left: -4rem;
}
ul#list-login li a{
	text-decoration: none;
	color: #000;
	font-family: Tahoma;
	font-weight: bold;
	font-size: 1.2rem;
	color: #F8F8FF;
}




/* Базовые стили слоя затемнения и модального окна  */
.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
/* фон затемнения */
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed; /* фиксированное поцизионирование */
    cursor: default; /* тип курсора */
}
/* активируем слой затемнения */
.overlay:target {
    display: block;
}
/* стили модального окна */
.popup {
    top: -100%;
    right: 0;
    left: 50%;
    font-size: 1.4rem;
    z-index: 20;
    margin: 0;
    margin-top: -2rem;
    width: 85%;
    min-width: 32rem;
    max-width: 50rem;
/* фиксированное позиционирование, окно стабильно при прокрутке */
    position: fixed;
    padding: 1.5rem;
    border: 0.1rem solid #383838;
    background: #000;
    	opacity: 0.9;
	filter: alpha(Opacity=90);
/* скругление углов */
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    border-radius: 0.4rem;
    font: 1.4rem/1.8rem 'Tahoma', Arial, sans-serif;
/* внешняя тень */
    -webkit-box-shadow: 0 1.5rem 2rem rgba(0,0,0,.22),0 1.9rem 6rem rgba(0,0,0,.3);
    -moz-box-shadow: 0 1.5rem 2rem rgba(0,0,0,.22),0 1.9rem 6rem rgba(0,0,0,.3);
    -ms-box-shadow: 0 1.5rem 2rem rgba(0,0,0,.22),0 1.9rem 6rem rgba(0,0,0,.3);
    box-shadow: 0 1.5rem 2rem rgba(0,0,0,.22),0 1.9rem 6rem rgba(0,0,0,.3);
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.6s ease-out;
    -moz-transition: -moz-transform 0.6s ease-out;
    -o-transition: -o-transform 0.6s ease-out;
    transition: transform 0.6s ease-out;
}
/* активируем модальный блок */
.overlay:target+.popup {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}
/* формируем кнопку закрытия */
.close {
    top: -1rem;
    right: -1rem;
    width: 2rem;
    height: 2rem;
    position: absolute;
    padding: 0;
    border: 0.2rem solid #ccc;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    border-radius: 1.5rem;
    background-color: rgba(61, 61, 61, 0.8);
    -webkit-box-shadow: 0rem 0rem 1rem #000;
    -moz-box-shadow: 0rem 0rem 1rem #000;
    box-shadow: 0rem 0rem 1rem #000;
    text-align: center;
    text-decoration: none;
    font: 1.3rem/2rem 'Tahoma', Arial, sans-serif;
    font-weight: bold;
    -webkit-transition: all ease .8s;
    -moz-transition: all ease .8s;
    -ms-transition: all ease .8s;
    -o-transition: all ease .8s;
    transition: all ease .8s;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    text-shadow: 0 -0.1rem rgba(0, 0, 0, 0.9);
    font-size: 1.2rem;
}
.close:hover {
    background-color: rgba(252, 20, 0, 0.8);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);    
}
/* изображения внутри окна */
.popup img {
    width: 100%;
    height: auto;
}
/* миниатюры слева/справа */
.pic-left, 
.pic-right {
    width: 25%;
    height: auto;
}
.pic-left {
    float: left;
    margin: 0.5rem 1.5rem 0.5rem 0;
}
.pic-right {
    float: right;
    margin: 0.5rem 0 0.5rem 1.5rem;
}
/* элементы м-медиа, фреймы */
.popup embed, 
.popup iframe {
    top: 0;
    right: 0;
    bottom: 0; 
    left: 0; 
    display:block;
    margin: auto;
    min-width: 32rem;
    max-width: 60rem;
    width: 100%;
}
.popup h2 { /* заголовок 2 */
    margin: 0;
    color: #008000;
    padding: 0.5rem 0rem 1rem;
    text-align: left;
    text-shadow: 0.1rem 0.1rem 0.3rem #adadad;
    font-weight: 500;
    font-size: 1.4em;
    font-family: 'Tahoma', Arial, sans-serif;
    line-height: 1.3;
}
/* параграфы */
.popup p {margin: 0; padding: 0.5rem 0}